:root {
  --primary-color: #eaeffb;
  --secondary-color: #182e65;
  --tertiary-color: #2d5ed2;
  --text-color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--primary-color);
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.text{
    color: var(--primary-color);
    font-family: monospace;
    font-size: 18px;
}

.hidden{
    display: none !important;
}

.top-bar{
    background-color: var(--secondary-color);
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logoutButton{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: none;
    margin-right: 25px;
    font-family: monospace;
    font-size: 18px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px;
}

.logoutButton:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: background-color 0.3s ease , color 0.3s ease;
}

.container{
    width: 100%;
    height: 85%;
}

.choices{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.choice{
    width: 250px;
    height: 50px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-family: monospace;
    font-size: 18px;
    border-radius: 10px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px;
}

.choice:hover{
    background-color: var(--tertiary-color);
}

.choices-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    border-left: 2px solid var(--secondary-color);
    padding: 25px;
    height: 75%;
}

.choices-container:first-child{
    border-left: none;
}

.messageContainer{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3); /* semi-transparent */
    backdrop-filter: blur(8px);
}

.message{
    width: 50%;
    height: 50%;
    padding: 25px;
    background-color: var(--tertiary-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    position: relative;
}

.exitButton{
    width: 5%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: var(--primary-color);
    position: absolute;
    right: -2.5%;
    top: -2.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exitButton:hover{
    border: 2px solid var(--secondary-color);
    cursor: pointer;
}

.exitButton:active{
    background-color: var(--tertiary-color);
    border: 2px solid var(--secondary-color)
    cursor: pointer;
}

.messageTitle{
    background-color: var(--secondary-color);
    width: 100%;
    height: 15%;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: 24px;
    color: var(--primary-color);
}

.messageContent{
    background-color: var(--secondary-color);
    width: 100%;
    height: 85%;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
}