:root {
  --primary-color: #eaeffb;
  --secondary-color: #182e65;
  --tertiary-color: #2d5ed2;
  --text-color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--primary-color);
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.title{
    font-family: monospace;
    color: var(--primary-color);
    margin-top: 10px;
    padding: 15px;
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
    border-radius: 10px;
}


.text{
    font-family: monospace;
    color: var(--primary-color);
    font-size: 24px;
}

.errorText{
    font-family: monospace;
    color: #FF0000;
}

.formContainer {
    width: 80%;
    height: 80%;
    background-color: var(--tertiary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 10px;
}

.form{
    width: 80%;
    height: 85%;
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.searchForm{
    width: 80%;
    height: 25%;
}

.fields{
     display: flex;
     flex-direction: column;
     justify-content: center;
     gap: 15px;
}

.field{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

input , select{
    width: 250px;
    height: 50px;
    background-color: var(--primary-color);
    border-radius: 10px;
    border: 2px solid var(--tertiary-color);
    font-family: monospace;
    font-size: 18px;
    color: var(--tertiary-color);
}

option {
    font-family: monospace;
    font-size: 18px;
    color: var(--tertiary-color);
}

.btn{
    width: 150px;
    height: 50px;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    font-family: monospace;
    font-size: 18px;
    border-radius: 10px;
    border: 2px solid var(--tertiary-color);
}

.btn:hover {
      transition: background-color 0.5s ease, color 0.5s ease;
      background-color: var(--primary-color);
      color: var(--tertiary-color);
}