<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Assign a doctor</title>
    <link rel="stylesheet" th:href="@{/styles/styleAdmin/styleDataForms.css}"/>
</head>
<body>
<div class="formContainer">
    <h1 class="title">Assign a doctor to a section</h1>
    <form class="form searchForm" method="GET" th:action="@{/admin/getCoursesToAssign}">
        <div class="field">
            <label class="text">Faculty</label>
            <div class="inputContainer">
                <select name="faculty" id="faculty">
                    <option value="" disabled selected>---------------------</option>
                    <option th:each="faculty : ${faculties}" th:value="${faculty.id}" th:text="${faculty.name}"></option>
                </select>
                <h3 class="errorText" id="errorFaculty"></h3>
            </div>
        </div>
        <button type="submit" class="btn">Search</button>
    </form>
    <form th:if="${courses != null}" class="form getSectionsForm" method="GET" th:action="@{/admin/getSectionsForCourse}">
        <div class="field">
            <label class="text">Course</label>
            <div class="inputContainer">
                <select name="courseId" id="courseId">
                    <option value="" disabled selected>---------------------</option>
                    <option th:each="course : ${courses}" th:value="${course.courseId}" th:text="${course.courseName}"></option>
                </select>
                <h3 class="errorText" id="errorCourseId"></h3>
            </div>
        </div>
        <input type="hidden" name="facultyId" th:value="${facultyId}"/>
        <button type="submit" class="btn">Search</button>
    </form>
    <form th:if="${sections != null || doctors != null}" class="form assignForm" style="margin-bottom: 15px;" method="POST" th:action="@{/admin/assignDoctor}">
        <div class="fields">
            <div class="field">
                <label class="text">Doctor</label>
                <div class="inputContainer">
                    <select name="doctorId" id="doctorId">
                        <option value="" disabled selected>---------------------</option>
                        <option th:each="doctor : ${doctors}" th:value="${doctor.id}" th:text="${doctor.name}"></option>
                    </select>
                    <h3 class="errorText" id="errorDoctorId"></h3>
                </div>
            </div>
            <div class="field">
                <label class="text">Section</label>
                <div class="inputContainer">
                    <select name="sectionId" id="sectionId">
                        <option value="" disabled selected>---------------------</option>
                        <option th:each="section : ${sections}" th:value="${section.id}" th:text="${section.sectionNumber}"></option>
                    </select>
                    <h3 class="errorText" id="errorSectionId"></h3>
                </div>
            </div>
            <input type="hidden" th:value="${doctorId}" name="doctorId"/>
        </div>
        <button type="submit" class="btn">Assign</button>
    </form>
</div>
<script th:src="@{/scripts/scriptAdmin/scriptAssignDoctorToSection.js}"></script>
</body>
</html>