<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Assign a doctor</title>
    <link rel="stylesheet" th:href="@{/styles/styleAdmin/styleDataForms.css}"/>
</head>
<body>
<div class="formContainer">
    <h1 class="title">Assign a doctor to a section</h1>
    <form class="form searchForm" method="GET" th:action="@{/admin/getCoursesToAssign}">
        <div class="field">
            <label class="text">Faculty</label>
            <select name="faculty">
                <option th:each="faculty : ${faculties}" th:value="${faculty.id}" th:text="${faculty.name}"></option>
            </select>
        </div>
        <button type="submit" class="btn">Search</button>
    </form>
    <form th:if="${courses != null}" class="form searchForm" method="GET" th:action="@{/admin/getSectionsForCourse}">
        <div class="field">
            <label class="text">Course</label>
            <select name="courseId">
                <option th:each="course : ${courses}" th:value="${course.courseId}" th:text="${course.courseName}"></option>
            </select>
        </div>
        <input type="hidden" name="facultyId" th:value="${facultyId}"/>
        <button type="submit" class="btn">Search</button>
    </form>
    <form th:if="${sections != null || doctors != null}" class="form" style="margin-bottom: 15px;" method="POST" th:action="@{/admin/assignDoctor}">
        <div class="fields">
            <div class="field">
                <label class="text">Doctor</label>
                <select name="doctorId">
                    <option th:each="doctor : ${doctors}" th:value="${doctor.id}" th:text="${doctor.name}"></option>
                </select>
            </div>
            <div class="field">
                <label class="text">Section</label>
                <select name="sectionId">
                    <option th:each="section : ${sections}" th:value="${section.id}" th:text="${section.sectionNumber}"></option>
                </select>
            </div>
            <input type="hidden" th:value="${doctorId}" name="doctorId"/>
        </div>
        <button type="submit" class="btn">Assign</button>
    </form>
</div>
</body>
</html>