<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create a Section</title>
  <link rel="stylesheet" th:href="@{/styles/styleAdmin/styleDataForms.css}"/>
</head>
<body>
<div class="formContainer">
  <h1 class="title">Create a Section</h1>
  <form class="form searchForm" method="GET" th:action="@{/admin/getCoursesForFaculty}">
    <div class="field">
      <label class="text">Faculty</label>
<!--      <input type="text" name="faculty"/>-->
      <select name="faculty">
        <option th:each="faculty : ${faculties}" th:value="${faculty.id}" th:text="${faculty.name}"></option>
      </select>
    </div>
    <button type="submit" class="btn">Search</button>
  </form>
  <form th:if="${courses != null}" class="form" style="margin-bottom: 15px;" method="POST" th:action="@{/admin/createASection}">
    <div class="fields">
      <div class="field">
        <label class="text">Course</label>
        <select name="courseId">
          <option th:each="course : ${courses}" th:value="${course.courseId}" th:text="${course.courseName}"></option>
        </select>
      </div>
      <div class="field">
        <label class="text">Start Time</label>
        <input type="time" name="startTime"/>
      </div>
      <div class="field">
        <label class="text">End Time</label>
        <input type="time" name="endTime"/>
      </div>
      <div class="field">
        <label class="text">Capacity</label>
        <input type="text" name="capacity"/>
      </div>
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</div>
</body>
</html>