<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Course Registration</title>
    <link
      rel="stylesheet"
      th:href="@{/styles/styleStudent/styleCourseRegistration.css}"
    />
  </head>
  <body>
  <div class="sidebar">
    <div class="nameCard">
      <p class="studentName name" th:text="${student.name}"></p>
      <p class="facultyName">Faculty of</p>
      <p class="facultyName" th:text="${student.faculty}"></p>
    </div>
    <div class="choices">
      <a class="choice" th:href="@{/student/studentUI}">Home</a>
      <a class="choice" th:href="@{/student/showPersonalInformation}"
      >Personal Information</a
      >
      <a class="choice" th:href="@{/shared/showMyCourses}">My Courses</a>
      <a class="choice" th:href="@{/student/showRegisterMenu}"
      >Register</a
      >
    </div>
    <form class="logout" method="POST" th:action="@{/logout}">
      <button class="logoutButton choice">Logout</button>
    </form>
  </div>
    <div class="container">
      <div class="regComponents">
        <form class="registrationForm">
          <label class="text">Course Number:</label>
          <input type="text" id="courseNumber" name="courseNumber" required />
          <button class="btn" type="submit">Register</button>
        </form>
        <table class="courseTable">
          <thead>
            <tr>
              <th class="text">Course Name</th>
              <th class="text">Course Number</th>
              <th class="text">Time</th>
              <th class="text">Capacity</th>
              <th class="text">Occupied Seats</th>
            </tr>
          </thead>
          <tbody id="courseList">
            <tr>
              <td class="courseName text">Data Structures & Algorithms</td>
              <td class="courseNum text">1234567</td>
              <td class="courseTime text">11:00AM - 1:00PM</td>
              <td class="courseCapacity text">50</td>
              <td class="courseOccupied text">30</td>
            </tr>
            <tr>
              <td class="courseName text">Data Structures & Algorithms</td>
              <td class="courseNum text">1234567</td>
              <td class="courseTime text">11:00AM - 1:00PM</td>
              <td class="courseCapacity text">50</td>
              <td class="courseOccupied text">30</td>
            </tr>
            <tr>
              <td class="courseName text">Data Structures & Algorithms</td>
              <td class="courseNum text">1234567</td>
              <td class="courseTime text">11:00AM - 1:00PM</td>
              <td class="courseCapacity text">50</td>
              <td class="courseOccupied text">30</td>
            </tr>
            <tr>
              <td class="courseName text">Data Structures & Algorithms</td>
              <td class="courseNum text">1234567</td>
              <td class="courseTime text">11:00AM - 1:00PM</td>
              <td class="courseCapacity text">50</td>
              <td class="courseOccupied text">30</td>
            </tr>
            <tr>
              <td class="courseName text">Data Structures & Algorithms</td>
              <td class="courseNum text">1234567</td>
              <td class="courseTime text">11:00AM - 1:00PM</td>
              <td class="courseCapacity text">50</td>
              <td class="courseOccupied text">30</td>
            </tr>
            <tr>
              <td class="courseName text">Data Structures & Algorithms</td>
              <td class="courseNum text">1234567</td>
              <td class="courseTime text">11:00AM - 1:00PM</td>
              <td class="courseCapacity text">50</td>
              <td class="courseOccupied text">30</td>
            </tr>
            <tr>
              <td class="courseName text">Data Structures & Algorithms</td>
              <td class="courseNum text">1234567</td>
              <td class="courseTime text">11:00AM - 1:00PM</td>
              <td class="courseCapacity text">50</td>
              <td class="courseOccupied text">30</td>
            </tr>
            <tr>
              <td class="courseName text">Data Structures & Algorithms</td>
              <td class="courseNum text">1234567</td>
              <td class="courseTime text">11:00AM - 1:00PM</td>
              <td class="courseCapacity text">50</td>
              <td class="courseOccupied text">30</td>
            </tr>
            <tr>
              <td class="courseName text">Data Structures & Algorithms</td>
              <td class="courseNum text">1234567</td>
              <td class="courseTime text">11:00AM - 1:00PM</td>
              <td class="courseCapacity text">50</td>
              <td class="courseOccupied text">30</td>
            </tr>
            <tr>
              <td class="courseName text">Data Structures & Algorithms</td>
              <td class="courseNum text">1234567</td>
              <td class="courseTime text">11:00AM - 1:00PM</td>
              <td class="courseCapacity text">50</td>
              <td class="courseOccupied text">30</td>
            </tr>
            <tr>
              <td class="courseName text">Data Structures & Algorithms</td>
              <td class="courseNum text">1234567</td>
              <td class="courseTime text">11:00AM - 1:00PM</td>
              <td class="courseCapacity text">50</td>
              <td class="courseOccupied text">30</td>
            </tr>
            <tr>
              <td class="courseName text">Data Structures & Algorithms</td>
              <td class="courseNum text">1234567</td>
              <td class="courseTime text">11:00AM - 1:00PM</td>
              <td class="courseCapacity text">50</td>
              <td class="courseOccupied text">30</td>
            </tr>
            <tr>
              <td class="courseName text">Data Structures & Algorithms</td>
              <td class="courseNum text">1234567</td>
              <td class="courseTime text">11:00AM - 1:00PM</td>
              <td class="courseCapacity text">50</td>
              <td class="courseOccupied text">30</td>
            </tr>
            <tr>
              <td class="courseName text">Data Structures & Algorithms</td>
              <td class="courseNum text">1234567</td>
              <td class="courseTime text">11:00AM - 1:00PM</td>
              <td class="courseCapacity text">50</td>
              <td class="courseOccupied text">30</td>
            </tr>
            <tr>
              <td class="courseName text">Data Structures & Algorithms</td>
              <td class="courseNum text">1234567</td>
              <td class="courseTime text">11:00AM - 1:00PM</td>
              <td class="courseCapacity text">50</td>
              <td class="courseOccupied text">30</td>
            </tr>
            <tr>
              <td class="courseName text">Data Structures & Algorithms</td>
              <td class="courseNum text">1234567</td>
              <td class="courseTime text">11:00AM - 1:00PM</td>
              <td class="courseCapacity text">50</td>
              <td class="courseOccupied text">30</td>
            </tr>
            <tr>
              <td class="courseName text">Data Structures & Algorithms</td>
              <td class="courseNum text">1234567</td>
              <td class="courseTime text">11:00AM - 1:00PM</td>
              <td class="courseCapacity text">50</td>
              <td class="courseOccupied text">30</td>
            </tr>
            <tr>
              <td class="courseName text">Data Structures & Algorithms</td>
              <td class="courseNum text">1234567</td>
              <td class="courseTime text">11:00AM - 1:00PM</td>
              <td class="courseCapacity text">50</td>
              <td class="courseOccupied text">30</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
