<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Course Registration</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <link
      rel="stylesheet"
      th:href="@{/styles/styleStudent/styleCourseRegistration.css}"
    />
  </head>
  <body>
  <div class=" container1 messageContainer" th:if="${success != null|| notFound != null || fullCap != null || alreadyRegistered != null || sectionNotFound != null || alreadyHasSectionWithinCourse != null || timeOverlap != null}">
    <div class="message">
      <div class="exitButton"><img draggable="false" th:src="@{/images/closeIcon.png}"/></div>
      <h2 class="messageTitle text" th:text="${success != null ? 'Operation succeeded' : (notFound != null || fullCap != null || alreadyRegistered != null || sectionNotFound != null || alreadyHasSectionWithinCourse != null || timeOverlap != null ? 'Operation failed' : '')}"
      >
      </h2>
      <div class="messageContent text" th:text="${success != null ? 'The course has been registered successfully.' : (notFound != null ? 'This course was not found.' : (sectionNotFound != null ? 'This section was not found.' : (alreadyHasSectionWithinCourse != null ? 'Already has a section registered in this course.' : (fullCap != null  ? 'This section is at its maximum capacity.' : (timeOverlap != null ? 'You have a section that overlaps with this section.' : 'You already registered this course.')))))}"></div>
    </div>
  </div>
  <div class="container2 messageContainer" th:if="${sections != null}">
    <div class="sectionsMessage">
      <div class="backBtn btn"><img draggable="false" th:src="@{/images/goBackIcon.png}"/></div>
      <table class="courseTable sectionsTable">
        <thead>
        <tr>
          <th class="text">Section Number</th>
          <th class="text">Time</th>
          <th class="text">Capacity</th>
          <th class="text">Occupied Seats</th>
        </tr>
        </thead>
        <tbody id="sectionsList">
        <tr th:each="section : ${sections}" th:object="${section}">
          <td class="courseNumber text" th:text="*{sectionNumber}"></td>
          <td class="sectionTime text" th:text="*{timePeriod.toString}"></td>
          <td class="sectionCapacity text" th:text="*{capacity}"></td>
          <td class="sectionOccupied text" th:text="*{takenSeats}"></td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
  <div class="sidebar">
    <div class="nameCard">
      <p class="studentName name" th:text="${student.name}"></p>
      <p class="facultyName">Faculty of</p>
      <p class="facultyName" th:text="${student.faculty.name}"></p>
    </div>
    <div class="choices">
      <a class="choice" th:href="@{/student/studentUI}">Home</a>
      <a class="choice" th:href="@{/student/showPersonalInformation}"
      >Personal Information</a
      >
      <a class="choice" th:href="@{/shared/showMyCourses}">My Courses</a>
      <a class="choice" th:href="@{/student/showRegisterMenu}"
      >Register</a
      >
    </div>
    <form class="logout" method="POST" th:action="@{/logout}">
      <button class="logoutButton choice">Logout</button>
    </form>
  </div>
    <div class="container">
      <div class="regComponents">
        <form class="registrationForm" method="POST" th:action="@{/student/registerCourse}">
          <label class="text">Course Code:</label>
          <input type="text" id="courseCode" name="courseCode" required />
          <label class="text">Section Number:</label>
          <input type="text" id="sectionNumber" name="sectionNumber" required />
          <div class="recaptcha-and-error-container">
            <div id="recaptcha-container"></div>
            <div th:if="${notValidated != null}" id="recaptcha-error" style="color: red; margin-top: 5px;">
              ⚠️ Please solve the reCAPTCHA before submitting.
            </div>
          </div>
          <button class="btn" type="submit">Register</button>
        </form>
        <table class="courseTable">
          <thead>
            <tr>
              <th class="text">Course Name</th>
              <th class="text">Course Code</th>
              <th class="text">Available Sections</th>
            </tr>
          </thead>
          <tbody id="courseList">
                <tr th:each="course : ${courses}" th:object="${course}">
                  <td class="courseName text" th:text="*{courseName}"></td>
                  <td class="courseCode text" th:text="*{courseId}"></td>
                  <td class="sections"><form method="GET" th:action="@{/student/availableSections}"><input type="hidden" name="courseId" th:value="*{courseId}"/><button type="submit" class="showSectionsBtn btn">Available Sections</button></form></td>
                </tr>
          </tbody>
        </table>
      </div>
    </div>
  <script th:src="@{/scripts/scriptStudent/scriptCourseRegistration.js}"></script>
  <script src="https://www.google.com/recaptcha/api.js?onload=onLoadRecaptcha&render=explicit" async defer></script>
  </body>
</html>
