<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/styles/styleStudent/styleStudentUI.css}" />
  </head>
  <body>
  <div class="messageContainer" th:if="${changedInitPassword == false || passwordChangeSuccess != null}">
    <div class="message" th:if="${changedInitPassword == false}">
      <h2 class="messageTitle text"
      > Change your password before proceeding.
      </h2>
      <form class="messageContent" method="POST" th:object="${newPasswordDTO}" th:action="@{/student/changeStudentPassword}">
        <div class="field">
            <label class="text">New password</label>
            <input class="passwordInput" type="password" th:field="*{newPassword}"/>
            <h3 th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}" class="errorText"></h3>
        </div>
        <div class="field">
          <label class="text">Confirm new password</label>
          <input class="passwordInput" type="password" th:field="*{rePassword}"/>
          <h3 th:if="${#fields.hasErrors('rePassword')}" th:errors="*{rePassword}" class="errorText"></h3>
          <h3 th:if="${passwordsDoNotMatch != null}" class="errorText">Passwords do not match.</h3>
        </div>
        <button class="changeBtn" type="submit">Change</button>
      </form>
    </div>
<!--    -->
    <div class="notification" th:if="${passwordChangeSuccess != null}">
      <div class="exitButton"><img draggable="false" th:src="@{/images/closeIcon.png}"/></div>
      <h2 class="notificationTitle text"
      > Operation Succeeded
      </h2>
      <div class="notificationContent text" th:text="'The password has been changed successfully.'"></div>
    </div>

  </div>
  <div class="sidebar">
    <div class="nameCard">
      <p class="studentName name" th:text="${student.name}"></p>
      <p class="facultyName">Faculty of</p>
      <p class="facultyName" th:text="${student.faculty.name}"></p>
    </div>
    <div class="choices">
      <a class="choice" th:href="@{/student/studentUI}">Home</a>
      <a class="choice" th:href="@{/student/showPersonalInformation}"
      >Personal Information</a
      >
      <a class="choice" th:href="@{/shared/showMyCourses}">My Courses</a>
      <a class="choice" th:href="@{/student/showRegisterMenu}"
      >Register</a
      >
      <a class="choice" th:href="@{/shared/chatroom}">Chat with AI</a>
    </div>
    <form class="logout" method="POST" th:action="@{/logout}">
      <button class="logoutButton choice">Logout</button>
    </form>
  </div>
    <div class="container">
      <div class="feed">
        <div class="slide">
          <img class="image" th:src="@{/images/image1.png}" />
        </div>
        <div class="slide">
          <img class="image" th:src="@{/images/image2.png}" />
        </div>
        <div class="slide">
          <img class="image" th:src="@{/images/image3.png}" />
        </div>
      </div>
    </div>
    <script th:src="@{/scripts/scriptStudent/scriptStudentUI.js}"></script>
  </body>
</html>
