<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Course</title>
    <link rel="stylesheet" th:href="@{/styles/styleShared/styleCourse.css}" />
</head>
<body>
<div class="messageContainer" th:if="${createAnnouncement != null || announcementAdded != null}">
    <div class="message" th:if="${createAnnouncement != null}">
        <form class="messageContent" method="POST" th:action="@{/shared/createAnnouncement}" enctype="multipart/form-data">
            <div class="field">
                <label class="text">Title</label>
                <input class="input" type="text" name="title"/>
            </div>
            <div class="field">
                <label class="text">Content</label>
                <textarea name="content" rows="4" cols="50" placeholder="Type your message..."></textarea>
            </div>
            <div class="field">
                <div class="drop-zone" id="dropZone">
                    <p class="text">Drag & drop files here or</p>
                    <label for="fileInput" class="custom-file-label">Browse</label>
                    <input type="file" id="fileInput" class="hidden-input input" name="files" multiple/>
                </div>
                <div id="filesNames"></div>
            </div>
            <input type="hidden" name="sectionId" th:value="${section.id}"/>
            <input type="hidden" name="doctorId" th:value="${doctor.id}"/>
            <button class="createBtn" type="submit">Create</button>
        </form>
    </div>
</div>
    <!--    -->
<div class="sidebar">
    <div class="nameCard">
        <p class="name" th:if="${userType == 'doctor'}">Dr.</p>
        <p class="name" th:text="${userType == 'student'} ? ${student.name} : ${doctor.name}"></p>
        <br>
        <p class="facultyName">Faculty of</p>
        <p class="facultyName" th:text="${userType == 'student'} ? ${student.faculty.name} : ${doctor.faculty.name}"></p>
    </div>
    <div class="choices">
        <a class="choice" th:href="${userType == 'student'} ? @{/student/studentUI} : @{/doctor/doctorUI}">Home</a>
        <a class="choice" th:href="${userType == 'student'} ? @{/student/showPersonalInformation} : @{/doctor/personalInformation}"
        >Personal Information</a
        >
        <a class="choice" th:href="@{/shared/showMyCourses}">My Courses</a>
        <a class="choice" th:href="${userType == 'student'} ? @{/student/showRegisterMenu} : @{/doctor/attendanceForm}"
           th:text="${userType == 'student'} ? 'Register' : 'Attendance'"></a
        >
        <a class="choice" th:href="@{/shared/chatroom}">Chat with AI</a>
    </div>
    <form class="logout" method="POST" th:action="@{/logout}">
        <button class="logoutButton choice">Logout</button>
    </form>
</div>
<div class="container">
    <form class="addForm" method="GET" th:action="@{/shared/showCreateAnnouncement}">
        <input type="hidden" name="id" th:value="${section.id}"/>
        <button th:if="${userType == 'doctor'}" id="addBtn" type="submit"><img th:src="@{/images/addIcon.png}"/> New</button>
    </form>
    <div class="title">
        <h1 class="courseName" th:text="${section.course.courseName}"></h1>
        <h2 class="sectionNumber" th:text="'Section (' + ${section.sectionNumber} + ')'"></h2>
    </div>
    <h2 class="text" th:if="${announcements.isEmpty()}">No announcements have been made yet.</h2>
    <div class="announcements-container" th:if="${announcements.size() > 0}">
        <div class="announcement" th:each="announcement : ${announcements}">
                <div class="announcement-top-bar">
                    <h3 class="announcement-title" th:text="${announcement.title}"></h3>
                    <button class="displayBtn"><img th:src="@{/images/arrowDownIcon.png}"/></button>
                </div>
                <div class="content">
                    <h4 class="text" th:text="${announcement.content}"></h4>
                    <h4 class="text" id="attachedFilesText">Attached files:</h4>
                    <ul class="links" th:if="${#lists.size(announcement.files) > 0}">
                        <li><a class="link" th:each="file : ${announcement.files}" th:href="@{/shared/announcements/files/{id}(id=${file.id})}" th:text="${file.fileName}"></a></li>
                    </ul>
                </div>
        </div>
    </div>
</div>
<script th:src="@{/scripts/scriptShared/scriptCourse.js}"></script>
</body>
</html>
