<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Courses</title>
    <link rel="stylesheet" th:href="@{/styles/styleShared/styleMyCourses.css}" />
  </head>
  <body>
  <div class="sidebar">
    <div class="nameCard">
      <p class="name" th:if="${userType == 'doctor'}">Dr.</p>
      <p class="name" th:text="${userType == 'student'} ? ${student.name} : ${doctor.name}"></p>
      <br>
      <p class="facultyName">Faculty of</p>
      <p class="facultyName" th:text="${userType == 'student'} ? ${student.faculty} : ${doctor.faculty}"></p>
    </div>
    <div class="choices">
      <a class="choice" th:href="${userType == 'student'} ? @{/student/studentUI} : @{/doctor/doctorUI}">Home</a>
      <a class="choice" th:href="${userType == 'student'} ? @{/student/showPersonalInformation} : @{/doctor/personalInformation}"
      >Personal Information</a
      >
      <a class="choice" th:href="@{/shared/showMyCourses}">My Courses</a>
      <a class="choice" th:href="${userType == 'student'} ? @{/student/showRegisterMenu} : @{/doctor/attendanceForm}"
      th:text="${userType == 'student'} ? 'Register' : 'Attendance'"></a
      >
    </div>
    <form class="logout" method="POST" th:action="@{/logout}">
      <button class="logoutButton choice">Logout</button>
    </form>
  </div>
    <div class="container">
      <div class="courseList">
        <a class="courseCard" th:each="course : ${ (userType == 'student') ? student.courses : doctor.courses }" th:href="@{${courseHandlerPath}(id=${course.courseId})}">
          <div class="cardContent">
            <div class="courseBackground"></div>
            <div class="courseInfo">
              <p class="courseName text">Course Name: </p>
              <p class="courseName text" th:text="${course.courseName}"></p>
              <p class="courseNumber text">Course Number: </p>
              <p class="courseNumber text" th:text="${course.courseId}"></p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <script th:src="@{/scripts/scriptShared/scriptMyCourses.js}"></script>
  </body>
</html>
