<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Courses</title>
    <link rel="stylesheet" th:href="@{/styles/styleStudent/styleMyCourses.css}" />
  </head>
  <body>
  <div class="sidebar">
    <div class="nameCard">
      <p class="doctorName name">Dr.Ayman Abdeen</p>
      <p class="facultyName">Faculty of Computer Engineering</p>
    </div>
    <div class="choices">
      <a class="choice" th:href="@{/indices/doctor/doctorUI.html}">Home</a>
      <a class="choice" th:href="@{/indices/doctor/personalInformation.html}"
      >Personal Information</a
      >
      <a class="choice" th:href="@{/indices/shared/myCourses.html}">My Courses</a>
      <a class="choice" th:href="@{/indices/doctor/attendanceForm.html}"
      >Attendance</a
      >
    </div>
    <form class="logout" method="POST" th:action="@{/logout}">
      <button class="logoutButton choice">Logout</button>
    </form>
  </div>
    <div class="container">
      <div class="courseList">
        <div class="courseCard">
          <div class="cardContent">
            <div class="courseBackground"></div>
            <div class="courseInfo">
              <p class="courseName text">Course Name: Web Development</p>
              <p class="courseCode text">Course Code: CS101</p>
            </div>
          </div>
        </div>
        <div class="courseCard">
          <div class="cardContent">
            <div class="courseBackground"></div>
            <div class="courseInfo">
              <p class="courseName text">Course Name: Web Development</p>
              <p class="courseCode text">Course Code: CS101</p>
            </div>
          </div>
        </div>
        <div class="courseCard">
          <div class="cardContent">
            <div class="courseBackground"></div>
            <div class="courseInfo">
              <p class="courseName text">Course Name: Web Development</p>
              <p class="courseCode text">Course Code: CS101</p>
            </div>
          </div>
        </div>
        <div class="courseCard">
          <div class="cardContent">
            <div class="courseBackground"></div>
            <div class="courseInfo">
              <p class="courseName text">Course Name: Web Development</p>
              <p class="courseCode text">Course Code: CS101</p>
            </div>
          </div>
        </div>
        <div class="courseCard">
          <div class="cardContent">
            <div class="courseBackground"></div>
            <div class="courseInfo">
              <p class="courseName text">Course Name: Web Development</p>
              <p class="courseCode text">Course Code: CS101</p>
            </div>
          </div>
        </div>
        <div class="courseCard">
          <div class="cardContent">
            <div class="courseBackground"></div>
            <div class="courseInfo">
              <p class="courseName text">Course Name: Web Development</p>
              <p class="courseCode text">Course Code: CS101</p>
            </div>
          </div>
        </div>
        <div class="courseCard">
          <div class="cardContent">
            <div class="courseBackground"></div>
            <div class="courseInfo">
              <p class="courseName text">Course Name: Web Development</p>
              <p class="courseCode text">Course Code: CS101</p>
            </div>
          </div>
        </div>
        <div class="courseCard">
          <div class="cardContent">
            <div class="courseBackground"></div>
            <div class="courseInfo">
              <p class="courseName text">Course Name: Web Development</p>
              <p class="courseCode text">Course Code: CS101</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script th:src="@{/scripts/scriptStudent/scriptMyCourses.js}"></script>
  </body>
</html>
