<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Attendance</title>
    <link rel="stylesheet" th:href="@{/styles/styleDoctor/styleAttendanceForm.css}" />
  </head>
  <body>
  <div class="messageContainer" th:if="${future != null || moreThanAWeekPast != null}">
    <div class="message">
      <div class="exitButton"><img draggable="false" th:src="@{/images/closeIcon.png}"/></div>
      <h2 class="messageTitle text"
      > Operation failed
      </h2>
      <div class="messageContent text" th:text="${future != null ? 'Can not take attendance for the days in the future.' : (moreThanAWeekPast != null ? 'Can not take/modify attendance for the days before the last week.' : '')}"></div>
    </div>
  </div>
  <div class="sidebar">
    <div class="nameCard">
      <p class="doctorName name">Dr.</p>
      <p class="doctorName" th:text="${doctor.name}"></p>
      <p class="facultyName">Faculty of</p>
      <p class="facultyName" th:text="${doctor.faculty.name}"></p>
    </div>
    <div class="choices">
      <a class="choice" th:href="@{/doctor/doctorUI}">Home</a>
      <a class="choice" th:href="@{/doctor/personalInformation}"
      >Personal Information</a
      >
      <a class="choice" th:href="@{/shared/showMyCourses}">My Courses</a>
      <a class="choice" th:href="@{/doctor/attendanceForm}"
      >Attendance</a
      >
      <a class="choice" th:href="@{/shared/chatroom}">Chat with AI</a>
    </div>
    <form class="logout" method="POST" th:action="@{/logout}">
      <button class="logoutButton choice">Logout</button>
    </form>
  </div>
    <div class="container">
      <div class="studentsForm">
        <h1 class="formTitle">Attendance Form</h1>
        <form class="form"  method="GET" th:action="@{/doctor/showSections}">
          <label class="text" for="course">Course:</label>
          <select id="course" name="courseId">
            <option th:each="course : ${courses}" th:value="${course.courseId}" th:text="${course.courseName}"></option>
          </select>
          <button type="submit" class="submitButton">Show Sections</button>
        </form>
        <form th:if="${sections != null}" class="form" method="GET" th:action="@{/doctor/attendance}">
          <label class="text" for="course">Course:</label>
          <select id="section" name="sectionId">
            <option th:each="section : ${sections}" th:value="${section.id}" th:text="${section.sectionNumber}"></option>
          </select>
          <label class="text" for="date">Date:</label>
          <input type="date" id="date" name="date" required />
          <input type="hidden" id="courseId" name="courseId" th:value="${courseId}"/>
          <button type="submit" class="submitButton">Submit</button>
        </form>
      </div>
    </div>
  <script th:src="@{/scripts/scriptDoctor/scriptAttendanceForm.js}"></script>
  </body>
</html>
