<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/styles/styleDoctor/styleDoctorUI.css}" />
  </head>
  <body>
    <div class="sidebar">
      <div class="nameCard">
        <p class="doctorName name">Dr.</p>
        <p class="doctorName" th:text="${doctor.name}"></p>
        <p class="facultyName">Faculty of</p>
        <p class="facultyName" th:text="${doctor.faculty}"></p>
      </div>
      <div class="choices">
        <a class="choice" th:href="@{/doctor/doctorUI}">Home</a>
        <a class="choice" th:href="@{/doctor/personalInformation}"
          >Personal Information</a
        >
        <a class="choice" th:href="@{/shared/showMyCourses}">My Courses</a>
        <a class="choice" th:href="@{/doctor/attendanceForm}"
          >Attendance</a
        >
      </div>
      <form class="logout" method="POST" th:action="@{/logout}">
        <button class="logoutButton choice">Logout</button>
      </form>
    </div>
    <div class="container">
      <div class="feed">
        <div class="slide">
          <img class="image" th:src="@{/images/image1.png}" />
        </div>
        <div class="slide">
          <img class="image" th:src="@{/images/image2.png}" />
        </div>
        <div class="slide">
          <img class="image" th:src="@{/images/image3.png}" />
        </div>
      </div>
    </div>
    <script th:src="@{/scripts/scriptDoctor/scriptDoctorUI.js}"></script>
  </body>
</html>
