:root {
  --primary-color: #eaeffb;
  --secondary-color: #182e65;
  --tertiary-color: #2d5ed2;
  --text-color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--primary-color);
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  color: var(--primary-color);
  font-size: 16px;
  line-height: 1.5;
  font-family: monospace;
}

/*SIDEBAR */
.sidebar {
  width: 250px;
  height: 100vh;
  background-color: var(--secondary-color);
  position: fixed;
  left: 0;
  top: 0;
  padding: 20px;
  border-radius: 0 10px 10px 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nameCard {
  padding: 20px;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  background-color: var(--tertiary-color);
}

.studentName {
  color: var(--primary-color);
  font-size: 24px;
  font-weight: bold;
  font-family: monospace;
  margin-bottom: 10px;
}

.facultyName {
  display: inline-block;
  color: var(--primary-color);
  font-size: 12px;
  font-family: monospace;
}

.choices {
}

.choice {
  display: block;
  padding: 15px;
  font-family: monospace;
  font-size: 18px;

  color: var(--primary-color);
  text-decoration: none;
  border-bottom: 2px solid var(--primary-color);
}

.choice:hover {
  background-color: var(--primary-color);
  border-radius: 0 5px 5px 0;
  color: var(--primary-color);
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease;
  background: linear-gradient(
    to left,
    var(--tertiary-color),
    var(--secondary-color)
  );
  /* border-bottom: none; */
}

.logout {
  display: block;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  /* padding: 10px; */
  border-radius: 5px;
  cursor: pointer;
  font-family: monospace;
}

.logoutButton {
  border: none;
  background-color: var(--secondary-color);
  width: 100%;
  height: 100%;
  text-align: left;
  border-radius: 10px;
}

.logoutButton:hover {
  background: linear-gradient(
    to left,
    var(--tertiary-color),
    var(--secondary-color)
  );
  color: var(--primary-color);
  box-shadow: 15px 0 50px var(--primary-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  transition: box-shadow 0.3s ease;
  border-radius: 10px;
}
/* END OF SIDEBAR */
/* CONTAINER */
.container {
  height: 100vh;
  width: calc(100% - 250px);
  margin-left: 250px; /* Adjusted to account for sidebar width */
  padding: 20px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.informationContainer {
  width: 75%;
  height: 75%;
  background-color: var(--secondary-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.informationCard {
  padding: 20px;
  width: 85%;
  height: 85%;
  border-radius: 10px;
  background-color: var(--tertiary-color);
}

.infoCardTitle {
  font-size: 24px;
  font-weight: bold;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 20px;
  padding: 25px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 10px;
  font-family: monospace;
}

.infoDiv{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.info {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* END OF CONTAINER */
